body{
	background-color: #f1f1f1;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
}
.header{
	width:1263px;
	height:146.5px;
}
#logo,#hiring,#search{
	float:left;
	margin-top: 10px;
}
#logo{
	margin-left: 50px;
}
#Hiringimage{
	width:100px;
	margin-left: 150px;
}
#search{
	margin-left: 40px;
}
#search a{
	text-decoration: none;
}
#searchbox{
	float:right;
	margin-right: -90px;
	margin-top: -40px;
	border:1px solid grey;
	border-radius: 30px;
	width:230px;
	height: 30px;
	padding-left: 10px;
}
#search li{
	list-style-type: none;
	display:inline;
}
#phone a:link{
	display:inline;
	border-radius: 4px;
	padding: 10px;
	width: 170px;
	color:#555555;
}
#phone a:hover{
	display:inline;
	border-radius: 4px;
	padding: 10px;
	width: 170px;
	background-color: #eee;
	color:#555555;
}
#chat a:link{
	display:inline;
	border-radius: 4px;
	padding: 10px;
	width: 70px;
	color:#555555;
}
#chat a:hover{
	display:inline;
	border-radius: 4px;
	padding: 10px;
	width: 70px;
	background-color: #eee;
	color:#555555;
}
#nav li a:link{
	display: inline;
	border-radius: 4px;
	padding:10px;
	color:black;
	font-weight: bold;
}
#nav li a:hover{
	display: inline;
	border-radius: 4px;
	padding:10px;
	background-color: #316441;
	color:black;
}
.classes{
	background-image: url(pattern.png);
	background-repeat: repeat;
	background-position: center;
	background-color: #3f724f;
	border:2px ridge green;
	width:1263px;
	height: 193.6px;
}
#three{
	float:left;
	width:390px;
	height: 193.6px;
	text-align: center;
}
#three a{
	text-decoration: none;
	color:white;
}
#one{
	text-align: center;
	color:grey;
}
#four{
	width:263.5px;
	height:192.656px;
	float:left;
	text-align: center;
	margin-top:35px;
	margin-left:40px;
}
#fourteen{
	width:263.5px;
	height:348px;
	display: block;
	float:left;
	text-align: center;
	margin-top:35px;
	margin-left:40px;
	border:1px solid white;
	border-radius: 4px;
}
#fourteen,#coursefee,#nextbatch a:link{
	background-color: white;
	cursor:pointer;
}
#fourteen,#coursefee,#nextbatch a:hover{
	background-color: grey;
	cursor:pointer;
}
#coursefee{
	float:left;
	width:127.5px;
	border-size:0.2px;
	text-align: center;
	margin-top: -20px;
	border:2px inset white;
	background-color: white;
}
#nextbatch{
	float:right;
	width:127.5px;
	height: 87px;
	border-size:0.2px;
	text-align: left;
	margin-top: -20px;
	border:2px inset white;
	background-color: white;
}
a{
	text-decoration: none;
}
#fourteen a{
	text-decoration: none;
	color:black;
}
#space{
	clear:both;
	height: 40px;
}
.libary #one{
	clear:both;
	display: block;
}
.codingground #one{
	clear:both;
	display: block;
	padding-top:35px;
}
.learning #four1{
	display: block;
	width:277px;
	height: 2220px;
	padding-left: 5px;
	padding-right: 5px;
	float:left;
	background-color: white;
	margin-top:35px;
	margin-left:40px;
}
.learning #four2{
	display: block;
	width:277px;
	height: 2220px;
	padding-left: 5px;
	padding-right: 5px;
	float:left;
	background-color: white;
	margin-top:35px;
	margin-left:10px;
}
.learning #four3{
	display: block;
	width:277px;
	height: 2220px;
	padding-left: 5px;
	padding-right: 5px;
	float:left;
	background-color: white;
	margin-top:35px;
	margin-left:10px;
}
.learning #four4{
	display: block;
	width:277px;
	height: 2220px;
	padding-left: 5px;
	padding-right: 5px;
	float:left;
	background-color: white;
	margin-top:35px;
	margin-left:10px;
}
.learning li{
	text-align: left;
}
#four1 h4{
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: -0.7px;
	margin-top: 5px;
	width: 277px;
	color: #FEFAFA;
	background-color: #888787;
	border:1px ridge grey;
	text-transform: uppercase;
}
#four2 h4{
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: -0.7px;
	margin-top: 5px;
	width: 277px;
	color: #FEFAFA;
	background-color: #888787;
	border:1px ridge grey;
	text-transform: uppercase;
}
#four3 h4{
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: -0.7px;
	margin-top: 5px;
	width: 277px;
	color: #FEFAFA;
	background-color: #888787;
	border:1px ridge grey;
	text-transform: uppercase;
}
#four4 h4{
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: -0.7px;
	margin-top: 5px;
	width: 277px;
	color: #FEFAFA;
	background-color: #888787;
	border:1px ridge grey;
	text-transform: uppercase;
}
.learning a{
	text-align: left;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	border-bottom: 1px dotted #bbbbbb;
	color: #434343;
}
.learning a:hover{
	background-color: #888787;
}
#twelve{
	width:188px;
	height: 124px;
	display: block;
	float: left;
	border: 2px ridge #f1f1f1;
	margin-top:35px;
	margin-left:10px;
	background-color: #f1f1f1;
}
#eigtyeight{
	width:188px;
	height: 124px;
	display: block;
	float: left;
	border: 2px ridge #f1f1f1;
	margin-top:35px;
	margin-left:10px;
	background-color: #f1f1f1;
}
#six{
	width:188px;
	height: 124px;
	display: block;
	float: left;
	border: 2px ridge #f1f1f1;
	margin-top:35px;
	margin-left:10px;
	background-color: #f1f1f1;
}
.selectedreading #one{
	clear:both;
	display: block;
	padding-top:35px;
	text-align: center;
}
.ide{
	padding-top: 35px;
	clear: both;
}
.experts #two{
	width:570px;
	height: 193.667px;
	float:left;
	margin-top:35px;
	margin-left:40px;
}
#profile{
	float:left;
}
.extra{
	border:1px solid #2a2a2a;
	background-color: #2a2a2a;
	width:1263px;
	height: 243px;
	clear:both;
	padding-top: 0px;
	margin-top: 260px;
	font-size: 0.9em;
}
.extra #four{
	width:265.2px;
	height: 204.6px;
	float:left;
	margin-left:10px;
	margin-top: 0px;
}
.extra #four li{
	list-style-image:url(bullet.gif);
	text-align: left;
	color: #ccc;
	padding-left: 0px;
	line-height: 22px;
}
.extra #four a{
	color:#ccc;
}
.extra #four h4{
	text-align: left;
	padding-left: 0px;
	margin-left: 25px;
}
.extra #four a:hover{
	color:white;
}
.footer{
	background-image: url(pattern.png);
	background-repeat: repeat;
	background-position: center;
	background-color: #3f724f;
	border-top:4px ridge white;
	width:1263px;
	height: 103.8px;
}
#footerlogo,#copyright,#links{
	float:left;
}
#footerlogo{
	width:60.5px;
	height: 40.8px;
	margin-left: 50px;
	margin-top: 10px;
}
#copyright{
	width:585px;
	height: 42px;
	margin-left: 70px;
	margin-top: 10px;
}
#copyright p{
	color:white;
}
#links{
	width:390px;
	height: 40px;
	margin-top: 10px;
}
#links li{
	display: inline;
	list-style: none;
	padding:10px;
}
#links a{
	color:#313131;
}
#links a:hover{
	color:white;
}
.social-icons li{
	list-style: none;
	display: inline;
	padding: 5px;
}
.developers #six{
	text-align: center;
}